.slideshow {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  max-height: 450px;
  max-width: 750px;
}

.slideshow img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none;
}

.control-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px 18px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
  top: 30%;
}

.control-btn.left {
  margin-left: 15px;
}

.control-btn.right {
  margin-right: 15px;
}

.control-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.control-btn:active {
  transform: scale(0.9);
}
