.slide {
    height: 300px;
    width: 500px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 3%;
}
.slideshow {
    display: flex;
    flex-direction: column;
}
.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}